.env 
.DS_Store
.vercel/output
.vscode
.vercel_build_output
.svelte-kit
node_modules
desktop/out
desktop/build
desktop/.svelte-kit
desktop/dist

server/.svelte-kit
cli
scratchpad.md
/test-results/
/playwright-report/
/playwright/.cache/
pnpm-lock.yaml
/playwright/.auth

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# PocketBase
/pb_data
/pb_public
/pb_hooks/common